<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/jquery-3.1.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"></script>
		<title>Login</title>
	</head>
	<body id="chatApp" v-bind:class="{'chat-body': !showLogin}">
		<template v-if="showLogin">
			<section class="container" >
				<div class="row login">
					<div class="col-md-offset-4 col-md-4 col-lg-4">
						<div id="alertError" class="alert alert-danger alert-dismissible alert-float "
							v-bind:class="{'alert-display': errorAlert}"
							role="alert">
							{{error}}
						</div>
						<form id="frmLogin" class="form-horizontal" @submit.prevent="signUp">
							<div class="form-group input-group">
								<input id="txtUser" type="text" class="form-control" aria-describedby="addon1" placeholder="Enter your name" v-model="nick">
								 <span class="input-group-addon glyphicon glyphicon-user" id="addon1"></span>
							</div>
							<div class="form-group">
								<button id="btnLogin" class="btn btn-default btn-block btn-login">Log in</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</template>
		<template v-else>
			<div class="content">
	      <section class="container app">
	        <div class="row">
	          <div class="col-md-4 contact">
	            <div class="row">
	              <div class="col-md-12 header">
	                  <span class="glyphicon glyphicon-user avatar avatar-user" aria-hidden="true"></span>
	                  <span class="glyphicon glyphicon-comment right icon-comment" aria-hidden="true"></span>
	              </div>
	              <div class="col-md-12 body-contact">
									<form action="" class="search">
										<input type="text" class="form-control" placeholder="Buscar o iniciar nuevo chat">
									</form>
									<div v-for="u in users"
										class="row contact-row">
										<template v-if="u.nick != user.nick">
											<div class="col-md-2">
												<span class="glyphicon glyphicon-user avatar avatar-contact"
												:style="{'background-color': 'rgb(' + u.color + ')', 'border-color': 'rgb(' + u.color + ')'}"
												aria-hidden="true"></span>
											</div>
											<div class="col-md-8">
												<div class="row">
													<div class="col-md-12 contact-name">
														<strong>{{u.nick}}</strong>
														<a href="#"></a>
													</div>
												</div>
											</div>
										</template>
									</div>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-8 chat">
	          	<div class="row header chat-header">
	          		<div class="col-md-12 ">
									<div class="row">
										<div class="col-md-11">
											<span class="glyphicon glyphicon-user avatar avatar-contact" :style="{'background-color': 'rgb(' + user.color + ')', 'border-color': 'rgb(' + user.color + ')'}" aria-hidden="true"></span>
											<strong>{{user.nick}}</strong>
										</div>
										<div class="col-md-1 text-right chat-option">
											<span class="glyphicon glyphicon-option-vertical option" aria-hidden="true"></span>
										</div>
									</div>
	          		</div>
	          	</div>
							<div class="row chat-footer">
								<div class="col-md-12">
									<div class="row">
										<form id="frmMsg"  @submit.prevent="sendMsg">
											<div class="col-md-1 chat-icon">
												<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
											</div>
											<div class="col-md-10 chat-field">
												<input id="txtMsg" type="text"
													class="form-control"
													placeholder="Escribe un mensaje"
													v-model="msg">
											</div>
											<div class="col-md-1 chat-icon chat-send">
												<button id="btnSendMsg"
												class="btn-sender"
												v-bind:disabled="msg==''">
													<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="row chat-messages">
								<div class="col-md-12">
									<ul id="listMsg">
										<template v-for="m in msgs">
											<li class="{{m.sender != user.nick ? 'left-msg' : '' }}">
												<span>
													<h3 class="sender"
													:style="{'color': 'rgb(' + m.color + ')'}">
													{{m.sender != user.nick ? m.msg : ''}}</h3>
													<span class="msg">{{m.msg}}</span>
													<small class="time">{{m.msg}}</small>
												</span>
											</li>
										</template>
									</ul>
								</div>
							</div>
	          </div>
	        </div>
	  		</section>
	    </div>
		</template>
		<script src="js/main.js"></script>
	</body>
</html>
